<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
	  <link href="/static/css/style.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
   <body>
    <div id="visualisation">
 
    <h1>
      Twitter US Airline Sentiment (using D3.js)
    </h1>

    <p>Grouped bar chart of overall airline sentiments</p>
    <table style="width:5%">
    <tr><td bgcolor="#4daf4a">Positive</td></tr>
    <tr><td bgcolor="#f5b342">Neutral</td></tr>
    <tr><td bgcolor="#e41a1c">Negative</td></tr>
    </table>

    <script src="/static/js/creative.js"></script>

    </div>

  </body>
</html>

